<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tnefern.honeybeeframework">


    <uses-sdk android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="tnefern.honeybeeframework.HoneybeeCrowdActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".apps.facematch.FaceMatchDelegatorActivity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".apps.facematch.FaceMatchWorkerActivity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="tnefern.honeybeeframework.apps.facematch.FinishedFaceMatchDelegatorActivity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".worker.FinishedWorkerActivity" >
            <intent-filter>
            </intent-filter>
        </activity>
        <service android:name=".wifidirect.WiFiDirectWorkerNonOwnerService"></service>
        <activity android:name=".apps.mandelbrot.MandelbrotDelegatorActivity"></activity>
        <activity android:name=".apps.mandelbrot.MandelbrotWorkerActivity"></activity>
        <activity android:name=".apps.mandelbrot.FinishedMandelbrotActivity"></activity>
        <activity android:name=".apps.mandelbrot.FinishedMandelbrotDelegatorActivity"></activity>
    </application>

</manifest>